* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(4, 104, 17);
}

h2 {
    color: rgb(172, 23, 23);
}